include ../pug-mixins/_pug-mixins
section.quotes-wrapper.rellax(data-rellax-speed="1")
  .container
    h2.text-center We really love our customers
    p.subtitle.text-center And they trust us

    .quotes
      .item
        .body
          p.text Often design departments are viewed as little decoration groups… They’ll make everything look pretty. Well, I can tell you, that doesn’t work.
          p.name Peter Phillips
        +icon('quote')
      .item
        .body
          p.text Success finally came when we were able to convince some creative men that good appearance was a salable commodity, that it often cut costs, enhanced a product’s prestige, raised corporate profits, benefited the customer and increased employment.
          p.name Raymond Loewy
        +icon('quote')
      .item
        .body
          p.text Any intelligent fool can make things bigger, more complex, and more violent. It takes a touch of genius – and a lot of courage – to move in the opposite direction.
          p.name Albert Einstein
        +icon('quote')

