include ../pug-mixins/_pug-mixins
section.addons-wrapper.rellax(data-rellax-speed="3")
  .container
    h2.text-center Our add-ons
    p.subtitle.text-center Best deals in our store

    .addons.row
      .item
        +icon('addon-resize')
        h3.h5 Preview resizer
        a.button(href="#") View
      .item
        +icon('addon-cart')
        h3.h5 Fast cart preview
        a.button(href="#") View
      .item
        +icon('addon-search')
        h3.h5 Fast search
        a.button(href="#") View
      .item
        +icon('addon-resize')
        h3.h5 Preview resizer
        a.button(href="#") View
      .item
        +icon('addon-cart')
        h3.h5 Fast cart preview
        a.button(href="#") View

    a.button.secondary.lg(href="#") Go to the store