.logo
  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='-10 -10 4000 700')
    path.logo-c.color-orange(d='M317,427.7l75.7,27c-18.5,25.6-31.9,42.5-40.2,50.8c-40.7,40.7-89.8,61-147.3,61c-57.3,0-106.2-20.3-146.9-61 c-40.7-40.7-61-89.8-61-147.3c0-57.5,20.3-106.6,61-147.3c40.7-40.7,89.7-61,146.9-61c57.5,0,106.6,20.3,147.3,61 c8.3,8.3,21.7,25,40.2,50.1L317,288.8c-9.7-11.9-16.3-19.6-19.7-23c-25.3-25.3-56.1-38-92.1-38c-35.8,0-66.5,12.7-91.9,38.2 C87.7,291.4,75,322.1,75,358.2c0,35.8,12.7,66.5,38.2,91.9c25.5,25.5,56.1,38.2,91.9,38.2c36.1,0,66.9-12.7,92.5-38 C300.8,446.9,307.2,439.4,317,427.7z')
    path.logo-c-inv.color-white(d='M2514.6,427.7l75.7,27c-18.5,25.6-31.9,42.5-40.2,50.8c-40.7,40.7-89.8,61-147.3,61 c-57.3,0-106.2-20.3-146.9-61c-40.7-40.7-61-89.8-61-147.3c0-57.5,20.3-106.6,61-147.3c40.7-40.7,89.7-61,146.9-61 c57.5,0,106.6,20.3,147.3,61c8.3,8.3,21.7,25,40.2,50.1l-75.7,27.8c-9.7-11.9-16.3-19.6-19.7-23c-25.3-25.3-56-38-92.1-38 c-35.8,0-66.5,12.7-91.9,38.2c-25.5,25.5-38.2,56.2-38.2,92.3c0,35.8,12.7,66.5,38.2,91.9c25.5,25.5,56.1,38.2,91.9,38.2 c36.1,0,66.9-12.7,92.5-38C2498.4,446.9,2504.8,439.4,2514.6,427.7z')
    path.color-white(d='M3081.7,149.9c57.5,0,106.6,20.3,147.1,61c40.6,40.7,60.9,89.8,60.9,147.3c0,57.5-20.3,106.6-60.9,147.3 c-40.6,40.7-89.6,61-147.1,61c-57.3,0-106.2-20.3-146.9-61c-40.7-40.7-61-89.8-61-147.3c0-57.5,20.3-106.6,61-147.3 C2975.5,170.2,3024.5,149.9,3081.7,149.9z M2989.5,266.1c-25.5,25.6-38.2,56.3-38.2,92.1c0,36.1,12.7,66.8,38.2,92.1 c25.5,25.3,56.2,38,92.3,38c36.1,0,66.8-12.7,92.3-38c25.5-25.3,38.2-56,38.2-92.1c0-35.8-12.7-66.5-38.2-92.1 c-25.5-25.6-56.2-38.4-92.3-38.4C3045.7,227.7,3014.9,240.5,2989.5,266.1z')
    path.color-orange(d='M624.8,149.9c57.5,0,106.6,20.3,147.1,61c40.6,40.7,60.9,89.8,60.9,147.3c0,57.5-20.3,106.6-60.9,147.3 c-40.6,40.7-89.6,61-147.1,61c-57.3,0-106.2-20.3-146.9-61c-40.7-40.7-61-89.8-61-147.3c0-57.5,20.3-106.6,61-147.3 C518.6,170.2,567.6,149.9,624.8,149.9z M532.6,266.1c-25.5,25.6-38.2,56.3-38.2,92.1c0,36.1,12.7,66.8,38.2,92.1 c25.5,25.3,56.2,38,92.3,38c36.1,0,66.8-12.7,92.3-38c25.5-25.3,38.2-56,38.2-92.1c0-35.8-12.7-66.5-38.2-92.1 c-25.5-25.6-56.2-38.4-92.3-38.4C588.8,227.7,558,240.5,532.6,266.1z')
    rect.logo-a.color-orange(x='758.1', y='176.6', width='74.2', height='378.6')
    path.color-white(d='M1928.9,149.9c57.5,0,106.6,20.3,147.1,61c40.6,40.7,60.9,89.8,60.9,147.3c0,57.5-20.3,106.6-60.9,147.3 c-40.6,40.7-89.6,61-147.1,61c-57.3,0-106.2-20.3-146.9-61c-40.7-40.7-61-89.8-61-147.3c0-57.5,20.3-106.6,61-147.3 C1822.7,170.2,1871.7,149.9,1928.9,149.9z M1836.6,266.1c-25.5,25.6-38.2,56.3-38.2,92.1c0,36.1,12.7,66.8,38.2,92.1 c25.5,25.3,56.2,38,92.3,38c36.1,0,66.8-12.7,92.3-38c25.5-25.3,38.2-56,38.2-92.1c0-35.8-12.7-66.5-38.2-92.1 c-25.5-25.6-56.2-38.4-92.3-38.4C1892.9,227.7,1862.1,240.5,1836.6,266.1z')
    rect.logo-a.color-white(x='2062.1', y='176.6', width='74.2', height='378.6')
    rect.logo-r-vert.color-orange(x='938.1', y='180.6', width='75.7', height='376.1')
    rect.logo-t-vert.color-orange(x='1251.7', y='39.5', width='75.7', height='517.2')
    rect.logo-t-hor.color-orange(x='1184.1', y='180.6', width='210.9', height='75.7')
    rect.logo-t-vert.color-white(x='2689', y='39.5', width='75.7', height='517.2')
    rect.logo-t-hor.color-white(x='2621.4', y='180.6', width='210.9', height='75.7')
    rect.logo-t-hor.color-white(x='1485.9', y='180.6', width='177.3', height='75.7')
    path.color-white(d='M1595.5,557h-76V112.6c1.7-31.2,13.6-58,35.8-80.4C1578.2,10.7,1604.8,0,1635,0c15.1,0,38,5.2,68.7,15.7 l-25.2,71.6c-21.4-9-35-13.5-40.6-13.5c-10.2,0-20.1,4.3-29.6,12.8c-8,8-12.3,17.7-12.8,28.9V557z')
    polygon.logo-y.color-white(points='3605.8,683.2 3841.9,180.6 3926.7,180.6 3685.8,683.2 ')
    polygon.color-white(points='3786.6,472.9 3651.1,180.6 3565.9,180.6 3746.2,557.1 ')
    g
      defs
        rect#mask-1(x='1011.8', y='171.1', width='106.1', height='217.9')
      clippath
        use(xlink:href='#mask-1', style='overflow:visible;')
      path.color-orange(d='M1011.8,233.7v155.2c2.7-65.4,15.7-88.2,40.3-112.6c16.3-16.3,38.3-25.2,65.8-26.7v-78.6 C1076.7,173,1040.1,195.4,1011.8,233.7z')
    rect.logo-r-vert.color-white(x='3357.8', y='180.6', width='75.7', height='376.1')
    g
      defs
        rect#mask-2(x='3431.6', y='171.1', width='106.1', height='217.9')
      clippath
        use(xlink:href='#mask-2', style='overflow:visible;')
      path.color-white(d='M3431.6,233.7v155.2c2.7-65.4,15.7-88.2,40.3-112.6c16.3-16.3,38.3-25.2,65.8-26.7v-78.6 C3496.5,173,3459.8,195.4,3431.6,233.7z')
    rect(x='-10', y='0', width='3950', height='690', fill='none')