include ../pug-mixins/_pug-mixins
section.header-main.dark
  .container.row
    .header-text
      h1 Create and customize <br />your e-store
      p.subtitle Professional ecommerce solutions based CS-Cart. <br />We help to sell.
      a.button.lg(href='#mail-modal', data-modal-open='') Contact us
    .header-img
      img(src="img/build.svg")