include ../pug-mixins/_pug-mixins
section.header-main
  .container.row
    .header-text
      h1 Create and customize <br />your e-store
      p.subtitle Professional ecommerce solutions based CS-Cart. <br />We help to sell.
      button.lg Contact us
    .header-img
      img(src="img/build.svg")