include ../pug-mixins/_pug-mixins
section.dark.services-wrapper
  .container
    h2.text-center What we can do to you?
    p.subtitle.text-center Almost everything you want

    .row.services
      .item
        +icon('service-dev')
        h3.h5 Custom development
      .item
        +icon('service-integration')
        h3.h5 Integration
      .item
        +icon('service-transfer')
        h3.h5 Transfer database

    a.button.lg Contact us