.services

  .dev:hover

    .service-dev-trb
      animation: 6s service-dev-trb 0s ease-in-out

    .service-dev-trl
      animation: 6s service-dev-trl 2s ease-in-out

    .service-dev-tr
      animation: 6s service-dev-tr 1s ease-in-out

    .service-dev-blt
      animation: 6s service-dev-blt 0s ease-in-out

    .service-dev-blr
      animation: 6s service-dev-blr 2s ease-in-out

    .service-dev-bl
      animation: 6s service-dev-bl 1s ease-in-out

  .integration:hover

    .service-integration-tl
      animation: 2s service-integration-tl ease-in-out 1s 2 alternate

    .service-integration-tr
      animation: 2s service-integration-tr ease-in-out 1s 2 alternate

    .service-integration-rt
      animation: 2s service-integration-rt ease-in-out 1s 2 alternate

    .service-integration-rb
      animation: 2s service-integration-rb ease-in-out 1s 2 alternate

    .service-icon-integration-arrow
      animation: 6s service-icon-integration-arrow

  .transfer:hover

    .service-icon-transfer-tr
      animation: 2s service-icon-transfer-tr 1s

    .service-icon-transfer-bl
      animation: 2s service-icon-transfer-bl 1s

    .service-icon-transfer-arrow
      animation: 4s service-icon-transfer-arrow

@keyframes service-dev-trb
  0%
    transform: translate(0, 0)

  16%
    transform: translate(0, 25px)

  32%
    transform: translate(-38px, 25px)

  54%
    transform: translate(-38px, 12px)

  70%
    transform: translate(-38px, -12.5px)

  85%
    transform: translate(0, -12.5px)

  100%
    transform: translate(0, 0)

@keyframes service-dev-trl
  0%
    transform: translate(0, 0)

  16%
    transform: translate(12.5px, 0)

  32%
    transform: translate(12.5px, 37.5px)

  54%
    transform: translate(-13px, 37.5px)

  70%
    transform: translate(-25.5px, 37.5px)

  85%
    transform: translate(-25.5px, 0)

  100%
    transform: translate(0, 0)

@keyframes service-dev-tr
  0%
    transform: translate(0, 0)

  25%
    transform: translate(0, 37.5px)

  50%
    transform: translate(-38px, 37.5px)

  75%
    transform: translate(-38px, 0)

  100%
    transform: translate(0, 0)

@keyframes service-dev-blt
  0%
    transform: translate(0, 0)

  16%
    transform: translate(0, -25px)

  32%
    transform: translate(38px, -25px)

  54%
    transform: translate(38px, -12px)

  70%
    transform: translate(38px, 12.5px)

  85%
    transform: translate(0, 12.5px)

  100%
    transform: translate(0, 0)

@keyframes service-dev-blr
  0%
    transform: translate(0, 0)

  16%
    transform: translate(-12.5px, 0)

  32%
    transform: translate(-12.5px, -37.5px)

  54%
    transform: translate(13px, -37.5px)

  70%
    transform: translate(25.5px, -37.5px)

  85%
    transform: translate(25.5px, 0)

  100%
    transform: translate(0, 0)

@keyframes service-dev-bl
  0%
    transform: translate(0, 0)

  25%
    transform: translate(0, -37.5px)

  50%
    transform: translate(38px, -37.5px)

  75%
    transform: translate(38px, 0)

  100%
    transform: translate(0, 0)

@keyframes service-integration-rt
  0%
    transform: translate(0, 0)

  75%
    transform: translate(-37px, 0)

  100%
    transform: translate(-37px, 0)

@keyframes service-integration-rb
  0%
    transform: translate(0, 0)

  75%
    transform: translate(-25px, 0)

  100%
    transform: translate(-25px, 0)

@keyframes service-integration-tl
  0%
    transform: translate(0, 0)

  75%
    transform: translate(0, 37px)

  100%
    transform: translate(0, 37px)

@keyframes service-integration-tr
  0%
    transform: translate(0, 0)

  75%
    transform: translate(0, 25px)

  100%
    transform: translate(0, 25px)

@keyframes service-icon-integration-arrow
  0%
    opacity: 1

  25%
    opacity: 0

  75%
    opacity: 0

  100%
    opacity: 1

@keyframes service-icon-transfer-arrow
  0%
    opacity: 1

  25%
    opacity: 0

  75%
    opacity: 0

  100%
    opacity: 1

@keyframes service-icon-transfer-tr
  0%
    transform: translate(0, 0)

  25%
    transform: translate(0, 24px)

  50%
    transform: translate(-24px, 24px)

  75%
    transform: translate(-24px, 0)

  100%
    transform: translate(0, 0)

@keyframes service-icon-transfer-bl
  0%
    transform: translate(0, 0)

  25%
    transform: translate(0, -24px)

  50%
    transform: translate(24px, -24px)

  75%
    transform: translate(24px, 0)

  100%
    transform: translate(0, 0)
  