include ../pug-mixins/_pug-mixins
.header-panel-section
  .container.row.header-panel
    a#top-panel-logo.top-panel-logo(href="/")
      include ../logo/logo
    .header-menu
      .burger-tumblr
        +icon('bars')
        +icon('close')
      .header-search
        +icon('search')
        input(placeholder="Search" type="search")
      nav
        a(href="#") Projects
        a(href='#mail-modal', data-modal-open='') Contact us
        span.menu-parent
          a Store
            +icon('angle-down')
          .children
            a(href="#") Add-ons
            a(href="#") Themes