<!DOCTYPE html>
html(lang="en")
  include components/html-head/html-head
  body
    include components/header/header
  include components/section-addons/section-addons
  include components/section-services/section-services
  
  include components/html-foot/html-foot
