@import "./config/variables"

// Vendor

@import 'normalize'

// Base Styles

*
  box-sizing: border-box

body
  font:
    family: Lato, sans-serif

.container
  max-width: $max-width
  margin: 0 auto

// Forms

button,
input,
optgroup,
select,
textarea
  font-family: Lato, sans-serif
  font-size: inherit
  line-height: initial
  margin: 0
  padding: 0

[type='text'],
[type='search'],
[type='tel'],
[type='email'],
[type='number'],
textarea
  background: none
  border: none
  color: inherit

  &:focus
    outline: none

  &::placeholder
    color: inherit
    opacity: .5

// Lists

ul
  list-style-type: none
  display: block
  padding: 0
  margin: 0

li
  display: block

// Links

a
  color: inherit

  &:focus
    outline: none

// Grid

.row
  display: flex

// Icons

.icon
  display: inline-block
  fill: currentColor
  width: 1em
  height: 1em